*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width:600;
    height:400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px
}

.content img{
    width: 50%;
    height: 60%;
    object-fit: cover;
}

.noibat {
    color: red;
    background: green;
}